* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #2aa426;
}

/* header */

h1 {
    font-size: 2.0vw;
    text-align: center;
}

h2 {
    font-size: 1.2vw;
    text-align: center;
    color: #5600ac;
    padding: 0.2rem;
}

/* main */

.wrapper {
    max-width: 50%;
    margin: 0% auto;
}

.animal {
    font-size: 1.5vw;
    color: #001ba1;
    margin: 0 auto;
    padding: 0;
}

.animal:hover {
    color: #f300db;
}

.animal:hover .icon-item {
    display: block;
}

.animal-box {
    cursor: pointer;
}

input {
    width: 0;
}

.animal-text {
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 2rem;
}

.animal-container:checked ~ label {
    color: #f7eb00;
}  

.animal-container:checked ~ label .animal-img {
    max-height: 25vw;
}

.animal-container:checked ~ label .animal-img  {
    transform: scale(1);
    transition: 1.0s;
}

.animal-container:checked ~ label .icon-item {
    rotate: -180deg;
    transition: 0.5s;
    font-size: 2.0rem;
}

.animal-container ~ label {
    display: block;
    margin-bottom: 0;
    border-top: solid #ff8800;
    cursor: pointer;
}

.animal-container ~ label .animal-img { 
    max-height: 0rem;
}

.animal-container ~ label .animal-img  {
    transform: scale(1);
    transition: 1.0s;
}

.animal-container ~ label .animal-img:hover {
    transform: scale(1);
    transition: 1.0s;
}

label:hover .icon-item {
    rotate: -180deg;
    transition: 0.5s;
    font-size: 2.0rem;
}

label:hover .animal-img {
    max-height: 25vw;
    transition: 1.0s;
}

label:hover .animal-img {
    transform: scale(1);
    transition: 1.0s;
}

.animal-img {
    display: flex;
    justify-content: center;
}

img {
    width: 45%;
    margin: 0 auto;
}

.icon-item {
    display: none;
    transition: 0.5s;
}

@media screen and (max-width: 820px) {
    h1 {
        font-size: 3vw;
    }

    h2 {
        font-size: 2vw;
    }

    .animal {
        font-size: 2.5vw;
    }
  }

@media screen and (max-width: 320px) {
    .wrapper {
        max-width: 80%;
    }

    h1 {
        font-size: 5vw;
    }

    h2 {
        font-size: 4vw;
    }
    .animal {
        font-size: 5vw;
    }

    img {
        width: 30%;
    }
  }
  